

.container h1{
   box color: hsla(55, 90%, 60%, 1.0);
   background-image: paint(hollowHighlights, stroke, 2px);
}


.navigation{
  display: table;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 80px;
  font-family: 'Odibee Sans', cursive;

}

.horizontalline{
  padding-top: 20px;

}

.horizontalline li{
  display: inline;
  margin: 40px;

}

.horizontalline li a{
  color: blue;
  text-decoration: none;
  font-family: 'Odibee Sans', cursive;
}

.horizontalline li a:hover{
  color: green;
}

.article{
  color: blue
}
